.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.applicationViews {
  align-items:center;
  justify-content: center;
  margin: auto;
  justify-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.row-form-label {
  justify-items: right;
  align-items: right;
  font-weight: 450;
}

.form-inline-left {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.form-inline-right {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-items: right;
}

.form-group, .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

a.welcome-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
}

button {
  width: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.button-new {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

.button-card {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

button.close {
  display: inline-block;
  width: fit-content;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

button.modal-close {
  margin-right: 0;
  align-content: center;
  justify-items: center;
  width: 75px;
}

.button-div, .image-upload-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding-bottom: 10px;
}

img {
  width: 20%;
  border-radius: 100%;
  justify-content: center;
  margin: auto;
}

.detail-image {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
}
.new-form, .form-register, .disposal-form, .card-content, .card-format, .card-line, .entry-portal-page, .update-form, .form-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align:center;
  width: 60%;
  margin: auto;
  padding-top: 25px;
}

.card-image {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
}
.card-format-small {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  width: inherit;
  margin: auto;
  padding-top: 25px;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align:center;
  margin: auto;
  padding: 25px;
}

.card-title-small {
  width: inherit;
  height: 125px;
}

.card-small {
  width: 325px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  margin: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-top-color: rgba(0, 0, 0, 0.125);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.125);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.125);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: .25rem;
}

.card-content-small {
  width: inherit;
  height: inherit;

}

.card-property-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  margin: auto;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.radio-inline {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  justify-content: space-between;
  width: 50%;
  font-size: 16px;
  font-weight: 500;
}
