.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.applicationViews {
  align-items:center;
  justify-content: center;
  margin: auto;
  justify-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.row-form-label {
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 500;
}

Button {
  padding-top: 15px;
  min-width: 100px;
  max-width: 300px;
}

.button-new {
  padding-top: 15px;
  min-width: 100px;
  max-width: 300px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

img {
  width: 10%;
  border-radius: 50%;
  align-self: center;
  margin: auto;
}

