{
  "users": [
  ],
  "personalProperty": [
   
  ],
  "ppTypes": [
    {
      "id": 1,
      "type": "jewelry"
    }
  ],
  "realEstate": [
   
  ],
  "reTypes": [
    {
      "id": 1,
      "type": "house"
    }
  ],
  "vehicles": [
    
  ],
  "vehicleTypes": [
    {
      "id": 1,
      "type": "SUV"
    }
  ]
}